*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

nav{
    height: 100%;
    width: 10%;
    background-color: #3d80b8;
    display: flex;
    justify-content: center;
    align-items: center;
} 

div{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

header{
    height: 10vh;
    width: 100%;
    background-color: #006a9b;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 80vh;
    width: 100%;
    background-color: #013374;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer{
    height: 10vh;
    width: 100%;
    background-color: #006a9b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    color: rgb(0, 0, 0);
    font-size: 40px;
}